<script type="text/ng-template" id="_AttachmentViewModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>

        <h4 class="modal-title" id="modal-title" style="color:#67809f">Attachments</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" loading-container="tableParams.settings().$loading">
                    <table class="table table-bordered table-striped files ng-cloak">
                        <tr>
                            <th width="12%" class="table-header">PREVIEW</th>
                            <th width="30%" class="table-header">FILE NAME</th>
                            <th width="30%" class="table-header">DOCUMENT</th>
                            <th width="10%" class="table-header">FILE SIZE</th>
                            <th width="10%" class="table-header"></th>
                        </tr>
                        <tr ng-repeat="item in attachments">
                            <td class="text-center">
                                <a ng-hide="item.IsWord">
                                    <img class="style" ng-src="{{item.PreviewThumbnailUrl}}" ng-click="openSupportingDocumentPreview(item.PreviewThumbnailUrl, item.FileName, item.PreviewUrl, item.IsPdf)">
                                </a>
                                <span ng-hide="!item.IsWord"><img class="style" ng-src="{{item.PreviewThumbnailUrl}}" /></span>
                            </td>
                            <td>
                                {{item.FileName}}
                            </td>
                            <td>
                                {{item.DocumentType}}
                            </td>
                            <td>
                                {{item.FileSize | formatFileSize}}
                            </td>
                            <td class="text-center">
                                <a href="{{item.DownloadUrl}}" target="_blank">Download</a>
                            </td>
                        </tr>
                        <tr ng-show="attachments.length == 0">
                            <td colspan="5" class="text-center">
                                No data available
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>




