<script type="text/ng-template" id="_Logs.html">
    <!--Modal Head-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">×</span><span class="sr-only">Close Modal</span></button>
        <h4 class="form-sub-title">Logs</h4>
    </div>
    <!--Modal Body-->
    <div id="modal-body" class="modal-body" ng-form="iForm">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body">
                    <div class="row" style="margin-bottom:30px;">
                        <div class="col-md-12" style="height:324px;" ng-style="{'overflow-y': m.Logs.length > 10 ? 'scroll':''}">
                            <ul ng-repeat="log in Logs track by $index" style="position:relative">
                                <li>
                                    <span>
                                        {{log.Message}}
                                    </span>
                                </li>
                            
                            </ul>
                        </div>


                    </div>
                </div>


                </div>
            </div>
        </div>
    
</script>