<!-- Modal -->
<div id="formLoadingScreen" class="modal fade modalDialogShow" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-top:unset; margin-bottom: 10px">Please wait ...</p>
                        <div class="progress progress-striped active" style="margin-bottom:unset">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NavigatingScreen" class="modal fade modalDialogShow" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-top:unset; margin-bottom: 10px">Navigating ...</p>
                        <div class="progress progress-striped active" style="margin-bottom:unset">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>