<script type="text/ng-template" id="custom-ng-filters/clear-complaiantTableParams-filter-button.html">
    <button class="btn btn-default" ng-click="complaiantTableParams.filter({})">
        <span class="glyphicon glyphicon-refresh"></span> Clear
    </button>
</script>
<script type="text/ng-template" id="custom-ng-filters/clear-victimTableParams-filter-button.html">
    <button class="btn btn-default" ng-click="victimTableParams.filter({})">
        <span class="glyphicon glyphicon-refresh"></span> Clear
    </button>
</script>
<script type="text/ng-template" id="custom-ng-filters/clear-respondentTableParams-filter-button.html">
    <button class="btn btn-default" ng-click="respondentTableParams.filter({})">
        <span class="glyphicon glyphicon-refresh"></span> Clear
    </button>
</script>
<script type="text/ng-template" id="custom-ng-filters/text-on-blur.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model-options="{ updateOn: 'change blur' }" ng-model="params.filter()[name]" class="input-filter form-control" />
</script>
<script type="text/ng-template" id="custom-ng-filters/select2.html">
    <select select2 ng-options="data.id as data.title for data in $selectData" ng-table-select-filter-ds="$column"
            ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
            class="filter filter-select form-control" name="{{name}}">
        <option style="display:none" value=""></option>
    </select>
</script>

<script id="toggleSelectAll" type="text/ng-template">
    <div class="mt-checkbox-list">
        <label class="mt-checkbox mt-checkbox-outline">
            <input type="checkbox" value="true" ng-model="isAllSelected" ng-change="toggleSelectAll()" name="toggleSelectAllCheckBox" id="toggleSelectAllCheckBox">
            <span></span>
        </label>
    </div>
</script>