
<script type="text/ng-template" id="SearchEmployee.html">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title"><b>Search {{title}}</b></h4>
    </div>
    <div class="modal-body" id="modal-body" style="padding-bottom:unset">
        <div class="table-responsive" style="overflow-x:auto;" loading-container="appUserTableParams.settings().$loading">
            <table ng-table="appUsersTable" ng-class="{'loading': isLoading}" class="table table-bordered">
                <tr ng-repeat="appUser in $data" ng-class="{'selected':appUser.AppUserId == appUsers.AppUserId}" ng-dblclick="selectEmployee(appUser)" ng-click="higlightRow(appUser)">
                    <td width="40%" data-title="'NAME'" sortable="'LastName'" filter="{Name: 'text'}" header-class="'table-header text-left'" class="text-left" style="padding:6px">
                        {{appUser.FullName}}
                    </td>
                    <td width="30%" data-title="'POSITION'" sortable="'Position'" filter="{Position: 'text'}" header-class="'table-header text-left'" class="text-left" style="padding:6px">
                        {{appUser.Position}}
                    </td>
                    <td width="30%" data-title="'AREA'" sortable="'AreaOffice'" filter="{AreaOffice: 'text'}" header-class="'table-header text-left'" class="text-left" style="padding:6px">
                        {{appUser.AreaOffice}}
                    </td>
                </tr>
                <tr ng-show="$data.length == 0">
                    <td colspan="3" class="text-center" style="font-style:unset">
                        No data available
                    </td>
                </tr>
            </table>

            Showing {{currentPage * tableCount-9}} to {{(currentPage * tableCount)-(tableCount-offSetCount)}} of {{totalRecordCount | number}} entries
        </div>
    </div>
    <div class="modal-footer">
        <div style="float: left;">
            <button class="btn btn-info" type="button" ng-click="goSelect()">Select</button>
            <button class="btn grey-cascade" type="button" ng-click="clear()">Clear</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
        </div>
    </div>
</script>
