<div class="portlet box blue-hoki" id="supportingDocuments" style="padding-bottom:unset; margin-bottom:unset">
    <div class="portlet-title" style="padding-top:0px; padding-bottom:0px;">
        <div class="caption col-md-3">
            Supporting Documents
        </div>
    </div>
    <div class="portlet-body">
        <br />
        @Html.Partial("_SupportingDocumentForm")
    </div>
</div>