<div class="portlet box" id="supportingDocuments" style="padding-bottom:unset; margin-bottom:unset;background-color: #e6a83b !important">
    <div class="portlet-title" style="padding-top:0px; padding-bottom:0px;">
        <div class="caption col-md-3">
          Attachments
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <br />
        @Html.Partial("_SupportingDocumentForm")
    </div>
</div>