@{
    ViewBag.Title = "Unauthorized";
}

<div class="row">
    <div class="col-md-12 page-404" style=" min-height: 230px; ">
        <div class="number font-green"> 401 </div>
        <div class="details">
            <h3>Oops! Unauthorized.</h3>
            <p>
                Your not authorize to view this page.
                <br>
                Please contact your system administrator.
            </p>
            @*<form action="#">
                <div class="input-group input-medium">
                    <input type="text" class="form-control" placeholder="keyword...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn green">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        </div>
    </div>
</div>