@using Codebiz.Domain.ERP.Context.SeedData;
@{
    ViewBag.Title = "Tickets";
}
<!-- BEGIN PAGE BAR -->
<div ng-app="MetronicApp" ng-controller="TicketIndexController">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Ticket")">Tickets</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>List</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Ticket
        <small>View tickets</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <h4 class="bold">Search</h4>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand"> </a>
                    </div>
                </div>
                <!-- BEGIN FILTERS -->
                <div class="portlet-body tabs-below" style="display: none;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ticket No</label>
                                <input type="text" ng-model="f.TicketNo" ng-keypress="searchWhenEnter($event)" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Technician</label>
                                <input type="text" ng-model="f.Technician" ng-keypress="searchWhenEnter($event)" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Client</label>
                                <input type="text" ng-model="f.ConcernWhom" ng-keypress="searchWhenEnter($event)" class="form-control" />
                            </div>
                        </div>
                  
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Priority</label>
                                <select select2 name="Priority" id="Priority" class="form-control not-allow-numbers"
                                        ng-model="f.Priority" ng-options="p.Description as (p.Description) for p in priorities"
                                        ng-change="search()">
                                    <option value="">---Please select---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select select2 name="Priority" id="Priority" class="form-control not-allow-numbers"
                                        ng-model="f.Status" ng-options="p.Code as (p.Description) for p in ticketStatuses"
                                        ng-change="search()">
                                    <option value="">---Please select---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Created By</label>
                                <input type="text" ng-model="f.CreatedBy" ng-keypress="searchWhenEnter($event)" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Created Date</label>
                                <div class='input-group date'>
                                    <input date-rangeright name="CreatedDate" placeholder="_ _ / _ _ / _ _ _ _ - _ _ / _ _ / _ _ _ _" class="form-control white-input" autocomplete="off"
                                           is-open="createdOnDatePicker.opened" close-text="Close"
                                           id="drp" ng-model="createdDate" ng-click="openCreatedOnDatePicker()" ng-change="search()" readonly>
                                    <span class="input-group-addon" onclick="$('#drp').focus()">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
  
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="actions btn-set btn-filter">
                                <button type="button" class="btn" style="background:#e6a83b; color:white;" ng-click="search()">
                                    <i class="fa fa-search"></i>
                                    <span class=""> Search </span>
                                </button>
                                <button type="button" class="btn" ng-click="reset()">
                                    <i class="fa fa-rotate-left"></i>
                                    <span class=""> Reset </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        @*<i class="fa fa-user"></i>*@List<br />
                        <input type="checkbox" ng-change="myTicketsOnly()" ng-model="f.MyTicketsOnly" />My Tickets
                    </div>
                    <div class="actions">
                        <div @Html.UserHasPermission(userPermission: PermissionData.UserCanCreateTicket)>
                            <a href="@Url.Action("ViewTicket","Ticket", new { Id = 0 })" class="btn" style="background-color: #e6a83b !important; color: white">
                                <i class="fa fa-plus"></i>
                                <span class=""> Create Ticket </span>
                            </a>
                        </div>
                    
                    </div>
                </div>


                <!-- END PORTLET -->


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive no-padding loading-container" loading-container="tableParams.settings().$loading">
                            <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped">
                                <tr ng-repeat="item in $data">
    
                                    <td width="10%" data-title="'TICKET NO'" sortable="'TicketNo'" header-class="'table-header text-left'">
                                        <a ng-click="viewTicket(item.Id)"  style="color:#e6a83b !important;">
                                            {{item.TicketNo}}
                                        </a>
                                    </td>
                                    <td width="5%" data-title="'PRIORITY'" sortable="'Priority'" header-class="'table-header text-right'" class="text-right">
                                        {{item.Priority}}
                                    </td>
                                    <td width="15%" data-title="'TITLE'" sortable="'Title'" header-class="'table-header text-left'">
                                        {{item.Title}}
                                    </td>
                                    <td width="10%" data-title="'CLIENT'" sortable="'ClientName'" header-class="'table-header text-left'">
                                        {{item.ClientName}}
                                    </td>
                                    <td width="5%" data-title="'STATUS'" sortable="'Status'" header-class="'table-header text-center'" class="text-center">
                                        <span class="label label-sm" ng-class="item.Status=='O' ? 'label-info' : ''" ng-show="item.Status=='O'">OPEN</span>
                                        <span class="label label-sm" ng-class="item.Status=='R' ? 'label-success' : ''" ng-show="item.Status=='R'">RESOLVED</span>
                                    </td>

                                    <td width="7%" data-title="'CREATED'" sortable="'CreatedOn'" header-class="'table-header text-left'">
                                        {{item.CreatedBy}}<br />
                                        {{item.CreatedOn | date : 'MM/dd/yyyy hh:mm a' }}
                                    </td>

                                    <td width="7%" data-title="'LAST UPDATED'" sortable="'LastUpdatedOn'" header-class="'table-header text-left'">
                                        {{item.LastUpdatedBy}}<br />
                                        {{item.LastUpdatedOn | date : 'MM/dd/yyyy hh:mm a'}}
                                    </td>
                                </tr>
                                <tr ng-show="$data.length == 0">
                                    <td colspan="12" class="text-center" style="font-style:unset">
                                        No data available
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    @section pagestyles {

    }

    @section PageScripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>

        </script>

    }

    @section angularjspage {
        <script src="~/Scripts/App/Services/RS3/TicketService.js"></script>
        <script src="~/Scripts/App/Controllers/RS3/TicketController.js"></script>
    }
