<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FlaggedAccountEmailNotificationRecipients" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="" providerName="System.Data.SqlClient" connectionString="Data Source=.\sql2016;Initial Catalog=;Persist Security Info=True;Integrated Security=true;Connect Timeout=0;MultipleActiveResultSets=True" />-->
    <add name="PsslaiAml" providerName="System.Data.SqlClient" connectionString="Data Source=.\ss2016;Initial Catalog=PsslaiAml;Persist Security Info=True;Integrated Security=true;Connection Timeout=120;MultipleActiveResultSets=True" />

    <!--<add name="" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.10.30;Initial Catalog=;user id=sa;password=P@ssw0rd123;Connection Timeout=120;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="DailyMidnightCron" value="0 5 0 * * ?" />-->
    <add key="DailyMidnightCron" value="0 0/1 0 ? * * *" />
    <add key="Environment" value="DEV" />
    <!--Every 2 minutes-->
    <add key="LongPayTestingDateEnteredService" value="2008-12-08" />
    
    <add key="SemaphoreSmsApi" value="https://semaphore.co/api/v4/messages" />
    <add key="SemaphoreSmsApiKey" value="682295dbcd53cef01a443ac8753c09bc" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <FlaggedAccountEmailNotificationRecipients>
    <add key="1" value="paultapon@gmail.com" />
  </FlaggedAccountEmailNotificationRecipients>
  <log4net>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\_BackgroundWorker\debug\logfile.debug.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="15MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="----------------Start----------------&#xA;&#xA;" />
        <param name="Footer" value="----------------End----------------&#xA;&#xA;" />
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\_BackgroundWorker\info\logfile.info.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="15MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="----------------Start----------------&#xA;&#xA;" />
        <param name="Footer" value="----------------End----------------&#xA;&#xA;" />
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\_BackgroundWorker\error\logfile.error.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="15MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="----------------Start----------------&#xA;&#xA;" />
        <param name="Footer" value="----------------End----------------&#xA;&#xA;" />
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="5" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="data source=.\sql2016;initial catalog=;integrated security=false;persist security info=True;Integrated Security=true;" />-->
      <connectionString value="data source=.\sql2016;initial catalog=CodebizERP;persist security info=True;Integrated Security=true;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception], [ActivityId], [User], [LogEventTitleId]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @activityid, @user, @eventlogtitle)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@activityid" />
        <dbType value="String" />
        <size value="36" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{activityid}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user" />
        <dbType value="String" />
        <size value="36" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{user}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@eventlogtitle" />
        <dbType value="Int32" />
        <size value="32" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="eventlogtitle" />
        </layout>
      </parameter>
    </appender>
    <logger name="DebugLogger">
      <level value="DEBUG" />
      <appender-ref ref="DebugFileAppender" />
    </logger>
    <logger name="InfoLogger">
      <level value="INFO" />
      <appender-ref ref="InfoFileAppender" />
    </logger>
    <logger name="ErrorLogger">
      <level value="ERROR" />
      <appender-ref ref="ErrorFileAppender" />
    </logger>
    <logger name="DatabaseLogger">
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>