@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutForCashierDashboard.cshtml";
}
<style>
</style>

<div class="row">
    <div class="col-md-12" style=" padding-right: 20px; right: 5px">
        <div class="row">

            <div style="overflow-x:auto;top:0;left:0;right:0;bottom:0;height:100%">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td width="50%" class="text-center" style="background-color:white" ng-if="display.FileType==null"><img src="@Url.Content("~/content/image/tarelcologo.jpg")" style="border: none; width: 97%;object-fit:fill" height="938" class="responsive" /></td>
                        <td width="50%" class="text-center" style="background-color:white" ng-if="display.FileType!=null && display.FileType!='video/mp4'"><img ng-src="{{display.Display}}" style="border: none; width: 97%;object-fit:fill" height="938" alt="California Nature" /></td>
                        <td width="50%" class="text-center" style="background-color:white" height="100%" ng-if="display.FileType!=null && display.FileType=='video/mp4'"><video id="vidOutput" style="border: none; width: 97%;object-fit:fill" height="938" alt="California Nature" autoplay loop><source ng-src="{{display.Display}}" type="video/mp4 " /></video></td>
                        <td width="50%" style="background-color:white;">
                            <table class="table table-bordered table-striped" style="border:solid 3px">
                                <tr>
                                    <th wdith="50%" class="text-center" style="background-color:#e5e5e5"><label class="control-label"><b style="color:#9a9a9a;font-size:25px">COUNTER</b></label></th>
                                    <th wdith="50%" class="text-center" style="background-color:#e5e5e5"><label class="control-label"><b style="color:#9a9a9a;font-size:25px">NOW SERVING</b></label></th>
                                </tr>
                                <tr ng-repeat="item in counterData">
                                    <td class="text-center" style="background-color:#26c281"><b style="color:white;font-size:50px">{{item.CounterNo}}</b></td>
                                    <td class="text-center" style="background-color:#d2ffd2"><b style="color:#c99933;font-size:50px">{{item.CurrSeq}}</b></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
@section PageStyles {
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }

        
    </style>
}
@section PageScripts{
    <script>

    </script>
}
@section AngularJSPage {
    <script src="~/Scripts/App/Services/CommonService.js"></script>
    <script src="~/Areas/CommercialServicesApplication/Scripts/App/Services/CounterSetupService.js"></script>
    <script src="~/Scripts/CashierDashboardController.js"></script>
}