@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="@Url.Content("~/assets/pages/img/logo-big.png")" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <h3 class="font-green">Forgot Password Confirmation</h3>
    <p> Please check your email to reset your password. </p>
</div>
<div class="copyright"> @DateTime.Now.Year © TARELCO 1 </div>



