@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Sign Up Confirmation";
}
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="@Url.Content("~/Content/Image/mainlogocommwithshadow.png")" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <h3 class="font-green">Registration Confirmation</h3>
    <p> Kindly wait for administrator to confirm your registration </p>
</div>
<div class="copyright"> @DateTime.Now.Year ©  COMMUNITECH </div>



