@model Web.Models.ViewModels.AppUsers.AppUsersCreateViewModel
@{
    ViewBag.Title = "Form Users";
}
<!-- BEGIN PAGE BAR -->
<div class="row" ng-controller="AppUserFormController as controller">
    <div class="col-md-12">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "AppUsers")">Users</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{forUpdate ? 'Edit' : 'Add'}}</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <a class="btn btn-sm btn-default" ng-click="cancel()">Back to List</a>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            User Form
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12" ng-form="f">
                <div class="portlet light bordered" style="margin-bottom:unset">
                    @Html.Hidden("AppUserId")
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="form-sub-title">User Information</h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">

                                        <!--Employee Details-->
                                        <div class="form-group" ng-class="f.Username.$invalid && (f.Username.$dirty || formSubmitted) ? 'has-error' : ''">
                                            <label class="control-label col-md-3 text-left">Username<span class="required"> *</span></label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       class="form-control"
                                                       ng-model="m.Username"
                                                       ng-required="true"
                                                       name="Username"
                                                       maxlength="50">
                                                <span ng-show="f.Username.$error.required && (f.Username.$dirty || formSubmitted)"
                                                      class="text-danger field-validation-error"><small> Username is required!</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="f.Email.$invalid && (f.Email.$dirty || formSubmitted) ? 'has-error' : ''">
                                            <label class="control-label col-md-3 text-left">Email<span class="required"> *</span></label>
                                            <div class="col-md-9">
                                                <input type="email"
                                                       class="form-control"
                                                       ng-model="m.Email"
                                                       ng-required="true"
                                                       name="Email"
                                                       maxlength="50">
                                                <span ng-show="f.Email.$error.required && (f.Email.$dirty || formSubmitted)"
                                                      class="text-danger field-validation-error"><small> Email is required!</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="f.FirstName.$invalid && (f.FirstName.$dirty || formSubmitted) ? 'has-error' : ''">
                                            <label class="control-label col-md-3 text-left">First Name<span class="required"> *</span></label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       class="form-control"
                                                       ng-model="m.FirstName"
                                                       ng-required="true"
                                                       name="FirstName"
                                                       maxlength="50" alpha-dash-only>
                                                <span ng-show="f.FirstName.$error.required && (f.FirstName.$dirty || formSubmitted)"
                                                      class="text-danger field-validation-error"><small> First Name is required!</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 text-left">Middle Name</label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       class="form-control"
                                                       ng-model="m.MiddleName"
                                                       name="MiddleName"
                                                       maxlength="50" alpha-dash-only>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="f.LastName.$invalid && (f.LastName.$dirty || formSubmitted) ? 'has-error' : ''">
                                            <label class="control-label col-md-3 text-left">Last Name<span class="required"> *</span></label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       class="form-control"
                                                       ng-model="m.LastName"
                                                       ng-required="true"
                                                       name="LastName"
                                                       maxlength="50" alpha-dash-only>
                                                <span ng-show="f.LastName.$error.required && (f.LastName.$dirty || formSubmitted)"
                                                      class="text-danger field-validation-error"><small> Last Name is required!</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="f.Role.$invalid && (f.Role.$dirty || formSubmitted) ? 'has-error' : ''">
                                            <label class="control-label col-md-3 text-left">Role<span class="required"> *</span></label>
                                            <div class="col-md-9">
                                                <select select2 name="Role"
                                                        ng-model="m.RoleId"
                                                        class="form-control"
                                                        ng-options="r.Id as r.Description for r in roles"
                                                        ng-required="true">
                                                </select>
                                                <span ng-show="f.Role.$error.required && (f.Role.$dirty || formSubmitted)"
                                                      class="text-danger field-validation-error"><small> Role is required!</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 text-left">Is Active</label>
                                            <div class="col-md-1">
                                                <div class="form-md-checkboxes" style="padding:0px;">
                                                    <div class="md-checkbox-inline">
                                                        <div class="md-checkbox">
                                                            <input type="checkbox"
                                                                   class="md-check"
                                                                   ng-model="m.IsActive"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   id="isActive" />

                                                            <label for="isActive">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                <h5 class="form-sub-title">User Groups</h5>
                             
                                <label class="mt-checkbox mt-checkbox-outline" style="float:right">
                                    <input id="checkall" name="SelectedAllUserGroups"
                                           ng-true-value="true"
                                           ng-model="selectAll"
                                           ng-false-value="false"
                                           ng-click="selectAllUserGroup(selectAll)"
                                           type="checkbox" /> Select All
                                    <span></span>
                                </label>
                            </h5>
                            <hr />
                            <div class="form-group form-md-checkboxes" style="overflow: auto; max-height:430px">
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox" ng-repeat="userGroup in userGroups">
                                        <input type="checkbox"
                                               class="md-check"
                                               ng-model="userGroup.IsSelected"
                                               ng-click="selectUserGroup(userGroup)"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               name="userGrupCheckBox{{$index}}"
                                               id="userGrupCheckBox{{$index}}" />

                                        <label for="userGrupCheckBox{{$index}}">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            {{userGroup.Description}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="form-action">
                        <div class="actions btn-set">
                            <button class="btn btn-success" style="width: 90px;" ng-click="btnSave()">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp; {{forUpdate ? 'Update':'Save'}}
                            </button>
                            <button class="btn btn-default" style="width: 90px;" ng-click="cancel()">
                                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section AngularJSPage {
    @Scripts.Render("~/Scripts/App/Services/AppUserService.js")
    @Scripts.Render("~/Scripts/App/Controllers/AppUser/AppUserFormController.js")
}