<div class="input-group input-icon">
    <!--<span class="input-group-btn" ng-show="{{IsSearch}}">
        <button name="OBJ1002" class="btn green" type="button"><i class="fa fa-arrow-circle-right"></i></button>
    </span>-->
    <i ng-show="ngModel != null" class="fa-view glyphicon glyphicon-circle-arrow-right" ng-click="onLinkIconClick($event)" style="color:#e0bc0f; margin-top:1px !important;"></i>
    <input id="{{cbInputItemId}}" type="text" name="{{cbInputItemId}}" ng-model="ngModel" ng-disabled="ngDisabled" class="form-control" ng-required="ngRequired" ng-keydown="onKeyDown($event)" autocomplete="off">
    <span class="input-group-btn">
        <button name="OBJ1002" class="btn green" type="button" ng-click="onBtnSearch($event)" ng-disabled="ngDisabled"><i class="fa fa-search"></i></button>
    </span>
</div>