<script type="text/ng-template" id="RouteSaveModal.html">
    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h4 class="form-sub-title">Route - {{isUpdate ? 'Edit' : 'Add'}}</h4>
    </div>
    <!-- MODAL BODY -->
    <div id="modal-body" class="modal-body" ng-form="saveRouteForm">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div>
                            <input type="text" name="Description" class="form-control" ng-model="route.Description" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" ng-class="saveRouteForm.ProvinceId.$invalid && (saveRouteForm.ProvinceId.$dirty || formSubmitted) ? 'has-error' : ''">
                        <label class="control-label">Province <span class="required"> *</span></label>
                        <div id="ProvinceIdDiv">
                            <select select2 name="ProvinceId" class="form-control not-allow-numbers" tabindex="25"
                                    ng-model="route.ProvinceId"
                                    ng-required="true"
                                    ng-options="p.ProvinceId as (p.Name) for p in provinces"
                                    ng-change="updateMunicipality()">
                                <option value="">---Please select---</option>
                            </select>
                        </div>

                        <span ng-show="saveRouteForm.ProvinceId.$error.minimum || saveRouteForm.ProvinceId.$invalid && (saveRouteForm.ProvinceId.$dirty || formSubmitted)"
                              class="text-danger field-validation-error"><small>Province is required!</small></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" ng-class="saveRouteForm.MunicipalityId.$invalid && (saveRouteForm.MunicipalityId.$dirty || formSubmitted) ? 'has-error' : ''">
                        <label class="control-label">Municipality <span class="required"> *</span></label>
                        <div id="MunicipalityIdDiv">
                            <select select2 name="MunicipalityId" class="form-control not-allow-numbers" tabindex="26"
                                    ng-model="route.CityTownId"
                                    ng-required="true"
                                    ng-options="ct.CityTownId as ct.Name for ct in municipalities"
                                    ng-change="updatePoleBarangay()">
                                <option value="">---Please select---</option>
                            </select>
                        </div>

                        <span ng-show="saveRouteForm.MunicipalityId.$invalid && (saveRouteForm.MunicipalityId.$dirty || formSubmitted)"
                              class="text-danger field-validation-error"><small>Municipality is required!</small></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="saveRouteForm.BarangayId.$invalid && (saveRouteForm.BarangayId.$dirty || formSubmitted) ? 'has-error' : ''">
                        <label class="control-label">Barangay <span class="required"> *</span></label>
                        <div id="BarangayIdDiv">
                            <select select2 name="BarangayId" ng-model="route.BarangayId" class="form-control allow-numbers" tabindex="27"
                                    ng-required="true"
                                    ng-options="b.BarangayId as b.Name for b in barangays"
                                    ng-change="updateRouteCode()">
                                <option value="">---Please select---</option>
                            </select>
                        </div>
                        <span ng-show="saveRouteForm.BarangayId.$invalid && (saveRouteForm.BarangayId.$dirty || formSubmitted)"
                              class="text-danger field-validation-error"><small>Barangay is required!</small></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" ng-class="saveRouteForm.Routes.$invalid || route.RouteCode === '' && (saveRouteForm.Routes.$dirty || formSubmitted) ? 'has-error' : ''">
                        <label class="control-label">Route<span class="required"> *</span></label>
                        <div>
                            <input type="text" class="form-control" ng-model="route.RouteCode" />
                        </div>
                        <span color="red" ng-show="saveRouteForm.Routes.$error.required || route.RouteCode === '' && formSubmitted" class="text-danger
                                  field-validation-error"><small>Route code is required.</small></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" ng-class="saveRouteForm.BookNo.$invalid  || route.BookNo === '' && (saveRouteForm.BookNo.$dirty || formSubmitted) ? 'has-error' : ''">
                        <label class="control-label">Book No.<span class="required"> *</span></label>
                        <div>
                            <input type="text" name="BookNo" id="BookNo" class="form-control" maxlength="50" autocomplete="off" ng-model="route.BookNo">
                        </div>
                        <span color="red" ng-show="saveRouteForm.BookNo.$invalid  || route.BookNo === '' && (saveRouteForm.BookNo.$dirty || formSubmitted)" class="text-danger
                                  field-validation-error"><small>Book No. is required.</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Footer-->
    <div class="modal-footer pull-left">
        <!--Actions -->
        <button class="btn btn-success" style="width:90px;" ng-click="saveRoute()">
            <span class="glyphicon glyphicon-ok"></span> {{isUpdate ? 'Update' : 'Save'}}
        </button>
        <button class="btn btn-default" style="width:90px;" ng-click="cancel()">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; Cancel
        </button>
    </div>
    <div class="clearfix"></div>
</script>
